.modal-add {
    width: 476px;
    height: 563px;
}

.modal-add h2 {
    margin-bottom: 40px;
}

.container-buttons button {
    width: 100%;
}

.btn-confirm {
    margin-top: 72px;
    margin-bottom: 0px;
}

.btn-cancel {
    margin-top: 8px;
    margin-bottom: 0px;
}

.form-add input {
    margin-bottom: 8px;
}