button {
    width: 100%;
    height: 51px;
    border: none;
    border-radius: 8px;

    color: white;

    font-size: 16px;
    font-weight: bold;
}

.btn-green {
    background-color: #04C45C;
}

.btn-red {
    background-color: rgba(251, 6, 21, 0.65);
}