.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    min-height: 100vh;

    background-color: rgba(16, 15, 15, 0.56);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    padding: 56px;
    border-radius: 8px;

    text-align: center;

    background-color: #FFFDFD;
}

.close-icon {
    position: absolute;
    right: 24px;
    top: 24px;

    cursor: pointer;
}