.modal-confirm {
    width: 476px;
    height: 319px;
}

.modal-confirm span {
    margin-top: 24px;
}

.container-buttons button {
    width: 100%;
}

.btn-confirm {
    margin-top: 32px;
    margin-bottom: 0px;
}

.btn-cancel {
    margin-top: 8px;
    margin-bottom: 0px;
}